img {
  position: absolute;
}
#kim {
  left: 1500px;
  top: 80px;
}
#lily {
  left: 1300px;
  top: 80px;
}
#joan {
  left: 1100px;
  top: 80px;
}
#bob {
  left: 930px;
  top: 80px;
}
#lea {
  left: 675px;
  top: 80px;
}
#mimi {
  left: 500px;
  top: 80px;
}
#roy {
  left: 325px;
  top: 80px;
}
#baby {
  left: 115px;
  top: 80px;
}
